.slider-style{
  position: relative;
  height: 100%;
}
.rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 34%;
    font-size: 45px;
    color: #fff;
    z-index:3;
    cursor: pointer;
    /* border: solid; */
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.rightArrow:hover{
    color: #d3d0d0;
}
.leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 34%;
    font-size: 45px;
    color: #fff;
    z-index:3;
    cursor: pointer;
    /* border: solid; */
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.slider-images{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
.slider-images img{
    width: 33%;
    height: 80%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.slider-images img:nth-child(2){
    height: 92%;
    z-index: 1;
    margin: 0 5px;
    box-shadow: 10px 0px 30px rgba(122, 120, 120, 0.438), -10px 0px 30px rgba(99, 98, 98, 0.438), 0px -0px 30px rgba(122, 120, 120, 0.438);
}
.dots-container{
    position: absolute;
    bottom: -10;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.dot-style{
    margin: 0 3px;
    cursor: pointer;
    font-size: 35px;
    color: #8f8d8d;
}
.dot-style.active{
    color: #1b1b1b;
}