.landing-page-container{
    position: relative;
    padding-top: 75px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
}
.slider-container{
    position: relative;
    min-width: 240vw;
    height: 70vh;
    margin: 0 auto;
    transform: translateX(-70vw);
}
.landing-page-content-container{
    position: relative;
    min-height: 100vh;
    color: black;
}